<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if messages %}

    {% for i in messages %}

    <p style="color: red;">{{ i }}</p>

    {% endfor %}

    {% endif %}

     <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <a href="{% url 'login' %}">Hisobingiz bormi, login qiling</a>

        <br><br>
        
        <input type="submit" value="Register">

    </form>
    
</body>
</html>